.appBar{
    box-shadow:'none';
    background-color:'white';
    border-bottom:'1px solid rgba(0, 0, 0, 0.12)';
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}




   
    


.title{
    align-items:center;
    width: 700px;
    display: flex;
    text-decoration:none;
    color:black;
    justify-content:center;
    justify-content:space-evenly;
    background:rgb(246 246 246);
    
   
    
}

.title .link{
    color: "black";
     text-decoration: "none";
     font-size:"17px";
}
@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
    .welcome{
        font-size: 0px;
        width: 0px;
    }
    .appBar{
        box-shadow:'none';
        background-color:'white';
        border-bottom:'1px solid rgba(0, 0, 0, 0.12)';
        width:100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
   
    .title{
        width:220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title .link{
        font-size: 12px;


    }
    .nike-logo{
        margin-left: -40px;
    }

   

  .icons{
      margin-top: 10px;
    
}
.icons .link1{
  
    font-size: 15px;
}
.icons .link2{
    font-size: 15px;
   
   
    
    
}
.icons .link3{
   
    font-size: 15px;
    
    
}
}

  

  .icons{
      display: flex;
      flex-direction: row;
      margin-left: 6px;
      margin-top: 9px;
  }

  .icons .link1{
    margin-left: 23px;
    margin-top: 9px;
    font-size: 26px;
}
.icons .link2{
    margin-left: 11px;
    font-size: 24px;
    margin-top: 3px;
   
    
    
}
.icons .link3{
    margin-left: 3px;
    margin-top: 0px;
    font-size: 27px;
    
    
}

.nike-logo{
    margin-right: 6px;
}
.welcome{
    font-weight: bold;
    margin-top: 15px;
}