.appBar{
    box-shadow:'none';
    background-color:'white';
    border-bottom:'1px solid rgba(0, 0, 0, 0.12)';
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
    .appBar{
        box-shadow:'none';
        background-color:'white';
        border-bottom:'1px solid rgba(0, 0, 0, 0.12)';
        width:100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }



   
    


.title{
    align-items:center;
    width: 700px;
    display: flex;
    text-decoration:none;
    color:black;
    justify-content:center;
    justify-content:space-evenly;
    background:rgb(246 246 246);
    
   
    
}

.title .link{
    color: "black";
     text-decoration: "none";
     font-size:"17px";
}
@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
    .title{
        box-shadow:'none';
        background-color:'white';
        border-bottom:'1px solid rgba(0, 0, 0, 0.12)';
        width:250px;
        display: flex;
        justify-content: center;
        margin-right: 50%;
        align-items: center;
    }
    .title .link{
        font-size: 12px;


    }

  .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icons .link1{
    margin-left: -32%;
    margin-top: 2%;
}
.icons .link2{
    margin-left: -10%;
   
    
    
}
.icons .link3{
    margin-left: -12%;
    margin-top: 0%;
    
    
}
    
}

  

  .icons{
      display: flex;
      flex-direction: row;
  }