.Kids{
    display: grid;
    grid-template-columns: 1fr;
}

.Kids .background{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Kids .background img{
    width: 70%;
    height: 90%;
}


.Men-Screen-Navbar{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 60px;
  margin-top: 30px;
}
.title{
  margin-left: 20%;
  font-size: 20px;
  font-weight: bolder;

}
.links{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;

}

@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
      .kids-div main img{
        width: 95vw;
        height: 40vh;

      }

    }

  
