.accessories {
  display: grid;
  grid-template-columns: 1fr;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background img {
  width: 80%;
  height: 95%;
}

@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
    .accessories{
      width: 100%;
    }
    .background img{
      width: 350px;
    }
  
}


