.Men{
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

.Men .background{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Men .background img{
    width: 80%;
    height: 90%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}



.Men .buttons .btn{
    margin-top: 20px;
    border-radius: 27px;
    background: black;
    width: 102px;
    border: solid 2px black;
    height: 48px;
    font-size: 18px;
    transition: 0.5s;
}

.Men .buttons .btn:hover{
    opacity: 0.5;
}

.Men .sale{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 50px;

}
.Men .sale img{
    width: 30%;
}

.Men .shoes{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 50px;

}
.Men .shoes img{
    width: 30%;
}

.Men .clothing{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 50px;

}
.Men .clothing img{
    width: 30%;
}

.Men .trainning{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 50px;

}

.Men .trainning img{
    width: 30%;
}






@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
    .Men main img{
        width: 95vw;
        height: 40vh;
    }
   
    }

