.about-container{
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Open Sans', sans-serif;

}

.about-1{
   
    display: flex;
    justify-content: flex-start;
    background-color: rgb(244 243 243);
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: solid 2px gainsboro;
    border-bottom: solid 2px gainsboro;

}
.about-1 img{
    width: 650px;
}




.sub-about{
    display: flex;
    flex-direction: column;
    margin-left: 180px;
}

.sub-about h3{
    margin-right: 51px;
}

@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
      .about-1{
          flex-direction: column;
          justify-content: center;
      }
      .about-1 img{
          width: 80vw;
      }
      .sub-about{
          justify-content: center;
          align-items: center;
          margin-left: 1%;
      }
      .sub-about h3{
          margin-right: 0px;
      }
    
    
    
   
    
   

  
    
  }




