.accessories-Container{
    margin-top: 85px;
}


.accessories-btn{
    display: flex;
    justify-content: center;

}



.background{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.background img{
    transition: 0.5s;
}

@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
    .accessories-Container{
        width: 440px;
    }
    .background{
        display: flex;
        width: 350px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-left: 28px;
    }
    
    .background img{
        transition: 0.5s;
        width: 250px;
    }
    .accessories-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 408px;
    
    }
    .accessories-btn .link{
        margin:"5px";
        font-weight:"bold";
        font-size: 10px;
    }
    
    

    
  }

.background img:hover{
    opacity: 0.5;
}

.background-media img{
    width: 600px;
}

