.div{
    width: 1630px;
    margin-left: 1.5%;
      height: 540px;
      margin-top: 5%;
      
    
  }
  
  .nextBtn{
    display: flex;
    background: rgb(230, 230, 230);
    margin-top: -18%;
    margin-right: 28px;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
  }
  
  .prevBtn{
    display: flex;
    background: rgb(230, 230, 230);
    margin-top: -17.5%;
    margin-left: 19px;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
  
  }


  @media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {

    .div{
      width: 0px;
        height: 0px;
        
      
    }
    
    .nextBtn{
    
      width: 0px;
      height: 0px;
     
    }
    
    .prevBtn{
      
      width: 0px;
      height: 0px;
     
    
    }

  }