.div{

    width: 1630px;
      height: 840px;
      margin-top: 3%;
      
    
  }
  .product-div{
    width: 90%;
    height: 90%;
    margin-top: 90px;
  }
  .name{
    font-weight: bold;
    font-size: 15px;

  }

  .price{
    font-weight: bold;
    margin-left: 345px;
    margin-top: -41px;
    font-size: 14px;

  }
  .category{
    font-weight: bold;
    margin-top: -16px;
    color: #cccccc;
    font-size: 14px;

  }


  
  
 


  @media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
    .div{
      width: 0vw;
      height: 0vh;
   
  }
  .slider{
    width: 0vw;
    height: 0vh;
    
  }
  
    
    



  }