.div{

    width: 1630px;
      height: 540px;
      margin-top: 5%;
      
    
  }
  .image-div{
    width: 90%;
    height: 90%;
  }


  
  
 


  @media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
    .div{
      width: 0vw;
      height: 0vh;
   
  }
  .slider{
    width: 0vw;
    height: 0vh;
    
  }
  
    
    



  }