.men-div{
    display: grid;
    grid-template-columns: 1fr;
}

.men-div main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.men-div main img{
    width: 70vw;
    height: 90vh;
}


.men-div .shoes-btn{
    position: absolute;
    margin-top: 41%;
    margin-right: 54%;
    border-radius: 27px;
    background: white;
    width: 102px;
    height: 48px;
    font-size: 18px;
    border: solid 0;
}

.men-div .shirts-btn{
    position: absolute;
    margin-top: 41%;
    margin-left: 45%;
    border-radius: 27px;
    background: white;
    width: 102px;
    height: 48px;
    font-size: 18px;
    border: solid 0;
}




@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
    .men-div main img{
        width: 95vw;
        height: 40vh;
    }
   
    }

