.light {
  background-color: white;
}
.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-images {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  background-color: rgb(246, 246, 246);
  border-radius: 30px;
}
.accessories-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: rgb(246, 246, 246);
  border-radius: 30px;
}
.acc-btn {
  position: absolute;
  border-radius: 25px;
  color: white;
  margin-top: 796px;
  background: black;
  padding: 12px;
  font-size: 17px;
  font-weight: bold;
  margin-left: -738px;
}


.kids-img {
  width: 36vw;
}
.mens-img {
  width: 29vw;
}
.women-img {
  width: 25vw;
}

@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
  .homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .homeContainer img {
    margin-top: 20%;
    width: 550px;
  }

  .home-images {
    margin-bottom: 53px;
  }
  .home-images img {
    width: 120px;
  }
 
  .accessories-div {
    width: 443px;
  }
  .homeSection{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .homeSection .women-img {
    width: 550px;
  }
  .homeSection .kids-img {
    width: 550px;
  }
  .homeSection .mens-img {
    width: 550px;
  }
  .accessories-div img {
    width: 443px;
  }
  .acc-btn {
    position: absolute;
    color: white;
    margin-top: 338px;
    background: black;
    padding: 12px;
    font-size: 17px;
    font-weight: bold;
    margin-left: -290px;
    border-radius: 25px;
    width: 137px;
  }
}



.homeSection img {
  transition: 0.5s;
}
.homeSection img:hover {
  opacity: 0.5;
}
