
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  main {
    display: flex;
    justify-content: center;
  }
  
  main img {
    margin-top: 55px;
  }
  
  .content1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .shop-div{
     position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
    .shop-btn{
      position: absolute;
    width: 140px;
    border-radius: 30px;
    color: white;
    background: black;
    font-size: 14px;
    margin-top: 110%;
    margin-right: 68%;
    font-weight: bold;
    height: 50px;
    border: solid black;

  }
  
  .content1 img {
    width: 500px;
  }
  .content1 img {
    transition: 0.5s;
  }
  .content1 img:hover {
    opacity: 0.5;
  }
  
  .content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content2 h2{
    margin-right: 83%;
    margin-top: 25px;
    margin-bottom: -40px;

  }
  
  .content3 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .content3 img {
    transition: 0.5s;
    width: 1000px;
  }
  .content3 img:hover {
    opacity: 0.5;
    width: 1000px;
  }

  .content3 .accessories-shop-btn{
    position: absolute; 
     width: 171px;
    border-radius: 30px;
    color: white;
    background: black;
    font-size: 14px;
    margin-top: 43%;
    margin-left: 1%;
    font-weight: bold;
    height: 50px;
    border: solid black;

  }

  



@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {

    .container{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
    }
    main {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    
    main img {
      margin-top: 5px;
      width: 100%;
      height: 100%;
      
    }
    
    .content1 {
      display: grid;
      grid-template-columns: 1fr;
    }

  
    
    .content1 img {
      width: 100%;
    }
    .content1 img {
      transition: 0.5s;
    }
    .content1 img:hover {
      opacity: 0.5;
    }
    
    .content2 {
      width: 0px;
      display: grid;
      grid-template-columns: 1fr;
    }
    .content2 h2{
      font-size: 0px;
    }

    
    .content3 {
      display: grid;
      margin-top: 5px;
      grid-template-columns: 1fr;
    }
    .content3 img {
      transition: 0.5s;
      width: 100%;
    }
    .content3 img:hover {
      opacity: 0.5;
      width: 350px;
    }
    .shop-btn{
      visibility: hidden;
    }
    .accessories-shop-btn{
      visibility: hidden;
    }
}
