.women-div{
    display: grid;
    grid-template-columns: 1fr;
}

.women-div .background{
    display: flex;
    justify-content: center;
    align-items: center;
}
.women-div .background img{
    width: 50%;
    height: 90%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}


.women-div .buttons .btn{
    margin-top: 20px;
    border-radius: 27px;
    background: black;
    width: 102px;
    border: solid 2px black;
    height: 48px;
    font-size: 18px;
    transition: 0.5s;
}

.women-div .buttons .btn:hover{
    opacity: 0.5;
}


@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
      .women-div main img{
        width: 95vw;
        height: 40vh;
    
}
   
    }