.womens-div{
    height: 850px;
    width: 100vw;
    background-repeat: no-repeat;
    margin-left: 60px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.womens-div .btn1{
    position: absolute;
    margin-top: 41%;
    margin-right: 54%;
    border-radius: 27px;
    background: white;
    width: 102px;
    height: 48px;
    font-size: 18px;
    border: solid 0;
}

.womens-div .btn2{
    position: absolute;
    margin-top: 41%;
    margin-left: 45%;
    border-radius: 27px;
    background: white;
    width: 102px;
    height: 48px;
    font-size: 18px;
    border: solid 0;
}


@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
    .womens-div{
        height: 850px;
        width: 98vw;
        margin-top: 30px;
        margin-left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .womens-div img{
        width: 900px;
    }
    .womens-div .btn1{
        
        margin-right: 102%;
        
    }
    .womens-div .btn2{
        
        margin-left: 52%;
        
    }
    }