
.footer-container{
    height: 500px;
    background-color: black;
    margin: 5px;
    display: flex;

}

.footer-container h3{
    color: white;
}
.footer-container h4{
    color: gray;
}


.contact-us{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;

}

.services{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;

}

.coming-soon{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;

}

a{
    margin: 5px;
   
}

@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
      .contact-us{
          margin: 0px;
          margin-top: 10px;
      }
      .services{
          margin: 0px;
          margin-top: 10px;
      }
      .coming-soon{
          margin: 0px;
          margin-top: 10px;
      }
      .footer-container{
          flex-direction: column;
          margin: 15px;
      }
  }



