.header-div{
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 1.2fr 2fr 1.5fr;
    height: 50px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.12);

}
.header-div .image-div{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-div img{
    width: 35px;
}