.header-div{
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    height: 50px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.12);

}
.header-div .image-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.header-div img{
    width: 35px;
    margin-left: 17%;
}

.menu1{
    display: flex;
    justify-content: space-around;
 
  }