.product-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  
}

.product-layout{
  display: flex;
  
}



.shoe-images{
  width: 100%;
  margin-top: 20px;

}
.shoe-images .img1{
  margin-left: 25px;

}
.shoe-images .img2 {
  margin-left: 25px;
  
}

.shoe-images .img3 {
  margin-left: 25px;
  margin-top: 25px;
  
}
.shoe-images .img4 {
  margin-left: 25px;
  margin-top: 25px;
 
}

.shoe-details{
  width: 40%;
  margin-top: 20px;

}

.shoe-details p {
  margin-right: 40px;
  font-weight: bold;
}


  /* Shirts Css */

  .shirts-images {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 35px;
    justify-content: start;
  }
  
  .shirts-images .img {
    margin-left: 15px;
  }
  .shirts-images img {
    margin-top: -45%;
  }
  .shirts-images .img2 {
    margin-top: 33%;
    margin-left: -61.6%;
  }
  .shirts-images .img3 {
    margin-top: 33%;
    margin-left: 0.8%;
  }
  
  .shirts-details {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-bottom: 40%;
  }
  
  .shirts-details p {
    margin-right: 40px;
    font-weight: bold;
  }
  h1{
    margin-left: "20px";
     font-size: "22px";
  }

  /* Accessories Css */

  .accessories-images {
    margin-top: -20px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 35px;
    justify-content: start;
  }
  .accessories-images .img1 {
    margin-top: 5%;
  }
  
  .accessories-images .img2 {
    margin-top: 5%;
    margin-left: 3%;
  }
  
  .accessories-details {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-bottom: 5%;
  }

  .accessories-details p {
    margin-right: 40px;
    font-weight: bold;
  }




.materialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addButton {
  width: 250px;
  padding: 18px 24px;
  border-radius: 30px;
  color: white;
  background: black;
  font-size: 17px;
  margin-top: 25px;
  margin-bottom: 25px;
  transition: 0.5s;
}

.addButton:hover {
  opacity: 0.5;
}

.backButton {
    width: 215px;
    padding: 0px 20px;
    border-radius: 45px;
    color: white;
    background: black;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    height: 80px;
    margin-left: 20px;
}

.favouritesButton {
  width: 250px;
  padding: 18px 24px;
  border-radius: 30px;
  color: black;
  background: white;
  font-size: 17px;
  margin-top: 25px;
  margin-bottom: 25px;
  transition: 0.5s;
}

.favouritesButton:hover {
  opacity: 0.5;
  background-color: black;
  color: white;
}


@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {

    .product-container {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      
    }
    
    .product-layout{
      display: flex;
      flex-direction: column;
      
    }
    
    
    
    .shoe-images{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
    
    }
    .shoe-images .img1{
      width: 80%;
      margin-top: 15px;
      margin-left: 0;

    
    }
    .shoe-images .img2 {
      width: 80%;
      margin-top: 15px;
      margin-left: 0;

      
    }
    
    .shoe-images .img3 {
      width: 80%;
      margin-top: 15px;
      margin-left: 0;


      
    }
    .shoe-images .img4 {
      width: 80%;
      margin-top: 15px;
      margin-left: 0;


     
    }
    
    .shoe-details{
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    
    }
    .shoe-details p{
      color: white;
    }
    h1{
      color: white;
    }
    
   


  
}
